<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form method="post" action="/login">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Enter Your Name" required><br/><br/><br/>
    <label for="number">Name</label>
    <input type="tel" name="number" id="number" placeholder="Enter Your number" required><br/><br/><br/>
    <label for="email">Name</label>
    <input type="email" name="email" id="email" placeholder="Enter Your email" required><br/><br/><br/>
    <button type="submit">Submit</button>
</form>

</body>
</html>